@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 12px;
  gap: 12px;
  
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.header {
  display: flex;
  position: fixed;
  padding: 16px;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 12px;
 
}
.footer {
  display: flex;
  background-color: #eeeeee;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 52px;
  padding: 12px;
  
}
.left-links {
  display: flex;
  gap: 16px;
  margin-right: auto;
  list-style-type: none;
  
}
.right-links {
  display: flex;
  gap: 16px;
  margin-left: auto;
  list-style-type: none;
  
}